<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>医生注册</title>
    <script src="../static/js/jquery-3.6.0.min.js"></script>
    <script src="../static/js/regidoc.js"></script>

</head>
<body>
   <p>
   手机号：
   <input id="form1" type="text" name="t1" placeholder="请输入11位手机号">
<!--   <span id="span11"  class="tips">*长度字符</span>-->
   </p>

   <p>
   密码：
   <input name="" id="form3" type="password" class="" placeholder="不少于6位" >
   </p>
   <p>
   确认密码：
   <input name="" id="form4" type="password" class="" placeholder="确认密码" onkeyup="checkpassword()">
   <span id="tishi"></span>
   </p>
   <p>
   姓名：
   <input id="form2" type="text" name="t2" placeholder="请输入姓名" >
   </p>
    <p>
    年龄：
        <select id="form5">
        </select>
    </p>
   <p>
    领域：
        <input id="form6" type="text" name="t2" placeholder="擅长领域" >
    </p>
    <p>
    级别：
        <input id="form7" type="text" name="t2" placeholder="医生职称" >
    </p>
    <p>
    从医时间：
        <select id="form8">
        </select>
    </p>

   <p><button id="form9" name="" >提交注册</button></p>
</body>
</html>