*{
    padding: 0;
    margin: 0;
}
.chat_commento{
    width: 900px;
    height: 650px;
    /* 元素居中 */
    margin: auto;
    border-radius: 10px;
    border: 4px solid #0e71c2;
}

/* .clearfix::after{
    content: "";
    display: block;
    clear: both;
    width: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
} */

/* top 问答界面*/
.chat_top{
    width: 100%;
    height: 50px;
   
    /* 圆角 */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    padding-left: 20px;
    font-size: 25px;
    line-height: 50px;
    box-sizing: border-box;
    font-weight: 550;
    border-width: 0px;
}
/* middle */

/* 中间框大小 */
.chat_middle{
    width: 900px;
    height: 520px;
    position: relative;
    box-sizing: border-box;
    overflow: auto;
    border-width: 0px;
}


/* 左边 ————————————————————————————————————————————————————————————————————————————————————————————————————*/
.chat_left{
    width: 100%;
    height: 80px;
    margin-top: 20px;
}

/* AI头像 */
.chat_left_item_1{
    width: 50px;
    height: 50px;
    background-color: #4459AB;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    line-height: 50px;
    color: white;
    border-radius: 25px;
}
.chat_left_item_2{
    width: 55%;
    height: 80px;
    float: left;
    margin-top: 10px;
}

.chat_left_time{
    width: 100%;
    text-align: left;
}
.chat_left_content{
    float: left;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    border-top-right-radius: 0px;
    background-color: #f4f5f7;
    
}



/* 右边 ————————————————————————————————————————————————————————————————————————————————————————————————————————*/
.chat_right{
    width: 100%;
    height: 80px;
    margin-top: 20px;
}


/* 用户头像 */
.chat_right_item_1{
    width: 50px;
    height: 50px;
    background-color: #4459AB;
    float: right;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    line-height: 50px;
    color: white;
    border-radius: 25px;
}


.chat_right_item_2{
    width: 55%;
    height: 80px;
    float: right;
    margin-top: 10px;
}
.chat_right_time{
    width: 100%;
    text-align: right;
}
.chat_right_content{
    float: right;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    border-top-right-radius: 0px;
    background-color: #4F7cff;
    color: white;
}


/* foot */
.chat_foot{
    width: 100%;
    height: 100px;
    /* 圆角 */
    border-bottom-left-radius: 10px;   
    border-bottom-right-radius: 10px;
    position: relative;
}
/* 请输入 */
.chat_context{
    width: 100%;
    height: 100%;
    font-size: 17px;
    box-sizing: border-box;
    outline: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-width: 0px;
    /* padding: 0px; */
}

/* 按钮发送 */
.chat_commit{
    width: 80px;
    height: 30px;
    color: white;
    background-color: #4F7cff;
    text-align: center;
    border-radius: 5px;
    margin-right: 10px;
}

#button_container{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.chat_context{
    resize: none;
}
.chat_context::placeholder{
    color: black;
    font-weight: 500k;
}

.line{
    width: 100%;
    border-top: 2px;
    border-color: #0e71c2;
    border-style: solid;
}


#button{
    position: absolute;
    top: 80px;
    right: -450px;
}


/* 输入文本框大小 */
#chat_context_item
{
height: 80px;
width: 900px;
}