#user_graph_content_div{
    display: grid;
    grid-template-columns: 5% auto;
}

/* for nav */
#user_graph_div{
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* for category */
#user_graph_category{
    width: auto;
}
#user_graph_echarts{
    padding-left: 5%;
    padding-right: 5%;
    width: auto;
}

#user_graph_content{
    display: grid;
    grid-template-columns: auto auto;/*20% 80%;*/
}

#search{
    align-items: center;
}

#consult_question_text{
    height: 25px;
    overflow: auto;/* 属性规定当内容溢出元素框时发生的事情 */
    word-break: break-all; /*解决兼容问题*/
    text-align: left;
    resize: none;/* 不可拖动 */
}