


p.score{
    position:absolute;
	font-size: 25px;
    left:200px;
    top:100px;
}

p.suggest{
    position:absolute;
	font-size: 25px;
    left:200px;
    top:250px;
}





.btn {
    /* width: 0;
    height: 0; */
    position: fixed;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 7px solid #999;
}






.box{
    width: 500px;
    height: 200px;
    position:absolute;
    left:350px;
    top:300px;
	border:0;
	border-radius:5px;
	background-color:rgba(204,204,204,98);
	padding: 10px;
	resize: none;

}





/*星星样式*/
.content{ width:600px; margin:0 auto; padding-top:20px;}
.title{ font-size:14px; background:#dfdfdf; padding:10px; margin-bottom:10px;}
.block{ width:100%; margin:0 0 20px 0; padding-top:10px; padding-left:50px; line-height:21px;}
.block .star_score{ float:left;}
.star_list{height:21px;margin:50px; line-height:21px;}
.block p,.block .attitude{ padding-left:20px; line-height:21px; display:inline-block;}
.block p span{ color:#C00; font-size:16px; font-family:Georgia, "Times New Roman", Times, serif;}
.star_score { background:url(../images/stark2.png); width:160px; height:21px;  position:relative; }
.star_score a{ height:21px; display:block; text-indent:-999em; position:absolute;left:0;}
.star_score a:hover{ background:url(../images/stars2.png);left:0;}
.star_score a.clibg{ background:url(../images/stars2.png);left:0;}
#starttwo .star_score { background:url(../images/starky.png);}
#starttwo .star_score a:hover{ background:url(../images/starsy.png);left:0;}
#starttwo .star_score a.clibg{ background:url(../images/starsy.png);left:0;}
/*星星样式*/
.show_number{ padding-left:50px; padding-top:20px;}
.show_number li{ width:240px; border:1px solid #ccc; padding:10px; margin-right:5px; margin-bottom:20px;}
.atar_Show{background:url(../images/stark2.png); width:160px; height:21px;  position:relative; float:left; }
.atar_Show p{ background:url(../images/stars2.png);left:0; height:21px; width:134px;}
.show_number li span{ display:inline-block; line-height:21px;}



.content{
    position:absolute;
    left:400px;
    top:140px;
}

/* _______________________按钮样式________________________ */


  .btnfos {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    margin: 0 auto 2em;
    position: relative;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
  }


  .btnfos-3 {
    background: #3498db;
    border: 1px solid white;
    box-shadow: 0px 1px 0 white, 1px 2px 1px #eee;
    font-weight: 900;
    letter-spacing: 1px;
    -webkit-transition: all 150ms linear;
            transition: all 150ms linear;
  }

  .btnfos-3:hover {
    background: #86aff5;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 2px 2px 4px #74e6e0;
    color:white;
    text-decoration: none;
    /* text-shadow: -5px -5px 0 #136a65; */
    -webkit-transition: all 250ms linear;
            transition: all 250ms linear;
  }

#fankuibt{
    position: absolute;
    top: 550px;
    left :center;


}
