
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}

body {
	background: linear-gradient(90deg, #c5d5f4, #6b97cc);		
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.screen {		
	/* background: linear-gradient(90deg, #547ba4, #7895b8);		 */
	background-color: white;
	position: relative;	
	height: 800px;
	width: 1200px;	
	box-shadow: 0px 0px 24px #567996;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 200px;
	width: 200px;
	background: #FFF;	
	top: 5px;
	right: 170px;	
	border-radius: 32px 32px 32px 32px;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #6383ac;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #5477a4, #677d9e);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #7b9cb9;	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

#title{
	text-align:center;
	font-size: 40px;
	color: white;
	letter-spacing: 1px;
}


.toptitle {	
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #fff;
}

/* ________________________________用户评论_______________________________________________________________________________ */

#header {
    background-color:rgb(29, 194, 219);
    color:white;
    text-align:center;
    padding-bottom:20px;
}

#subtitle {
    /* font-weight:5px; */
    text-align:center;
    font-size:30px;
}

/* Blue button as seen on translate.google.com*/
button.blue1 {
    color: white;
    background: #4C8FFB;
    border: 1px #3079ED solid;
    box-shadow: inset 0 1px 0 #80B0FB;
    position:absolute;
    right:100px;
    top:120px;
}
button.blue1:hover {
    border: 1px #2F5BB7 solid;
    box-shadow: 0 1px 1px #EAEAEA, inset 0 1px 0 #5A94F1;
    background: #3F83F1;
}
button.blue1:active {
    box-shadow: inset 0 2px 5px #2370FE;   
}
button.blue2 {
    color: white;
    background: #4C8FFB;
    border: 1px #3079ED solid;
    box-shadow: inset 0 1px 0 #80B0FB;
    position:absolute;
    left:770px;
    top:630px;
}
button.blue2:hover {
    border: 1px #2F5BB7 solid;
    box-shadow: 0 1px 1px #EAEAEA, inset 0 1px 0 #5A94F1;
    background: #3F83F1;
}
button.blue2:active {
    box-shadow: inset 0 2px 5px #2370FE;   
}

p.score{
    position:absolute;
    left:200px;
    top:200px;
}

p.suggest{
    position:absolute;
    left:200px;
    top:350px;
}

.box{
    width: 400px;
    height: 200px;
    position:absolute;
    left:400px;
    top:400px; 
}


body,li,p,ul { 
    margin: 0;
    padding: 0;
    font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}
ul, li, ol { list-style: none; }
/* 重置文本格式元素 */
a { text-decoration: none; cursor: pointer; color:#333333; font-size:14px;}
a:hover { text-decoration: none; }
.clearfix::after{ display:block; content:''; height:0; overflow:hidden; clear:both;} 
/*星星样式*/
.content{ width:600px; margin:0 auto; padding-top:20px;}
.title{ font-size:14px; background:#dfdfdf; padding:10px; margin-bottom:10px;}
.block{ width:100%; margin:0 0 20px 0; padding-top:10px; padding-left:50px; line-height:21px;}
.block .star_score{ float:left;}
.star_list{height:21px;margin:50px; line-height:21px;}
.block p,.block .attitude{ padding-left:20px; line-height:21px; display:inline-block;}
.block p span{ color:#C00; font-size:16px; font-family:Georgia, "Times New Roman", Times, serif;}
.star_score { background:url(../images/stark2.png); width:160px; height:21px;  position:relative; }
.star_score a{ height:21px; display:block; text-indent:-999em; position:absolute;left:0;}
.star_score a:hover{ background:url(../images/stars2.png);left:0;}
.star_score a.clibg{ background:url(../images/stars2.png);left:0;}
#starttwo .star_score { background:url(../images/starky.png);}
#starttwo .star_score a:hover{ background:url(../images/starsy.png);left:0;}
#starttwo .star_score a.clibg{ background:url(../images/starsy.png);left:0;}
/*星星样式*/
.show_number{ padding-left:50px; padding-top:20px;}
.show_number li{ width:240px; border:1px solid #ccc; padding:10px; margin-right:5px; margin-bottom:20px;}
.atar_Show{background:url(../images/stark2.png); width:160px; height:21px;  position:relative; float:left; }
.atar_Show p{ background:url(../images/stars2.png);left:0; height:21px; width:134px;}
.show_number li span{ display:inline-block; line-height:21px;}

.content{
    position:absolute;
    left:400px;
    top:230px;
}



/* ________________________________________历史___________________________ */


/* ——————————————————————————————————用户管理—————————————————————————————————————————————— */




/* —————————————————————————————————————————————————————————医生管理————————————————————————— */



/* ———————————————————————————————————————用户反馈——————————————————————————————— */
