
#allfedstart{
  position: relative;
    top:50px;
    left: 12px;
    font-size: 21px;
}

.content {

    position: relative;
    top:70px;
    left: 130px;
    width:900px;
    padding: 10px 30px 10px 6px;
    margin: 30px;
    background-color: #2196F3;
    text-decoration: none;
    font-size: 21px;
    color: black;
    border-radius: 0 5px 5px 0;
    opacity:0.5;
}

.content:hover{
  opacity:1;
  filter:alpha(opacity=80)
}