
#docline1{

	top: 50px;
	width: 700px;

}

#docimg1{
    position: relative;
	left: 100px;
}

#docimg2{
    position: relative;
	left: 280px;
}

#docimg3{
    position: relative;
	left: 460px;
}


.doctor{
    position: relative;
	top: 20px;
	left:  80px;
	width: 150px;
	height: 150px;
	background-color: white;

}

.doctor:hover{

  opacity:0.4;
  filter:alpha(opacity=40)

}

#docline2{

	top: 250px;
	width:700px;
}

#docimg4{
    position: relative;
	left: 100px;
}

#docimg5{
    position: relative;
	left: 280px;
}

#docimg6{
    position: relative;
	left: 460px;
}