<!DOCTYPE html>
<html>
    <head>
        <title>{{ name }}</title>
        <!-- 根据需要进行编写, 文件创立于/static -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'AI.css') }}">
        <script src="{{ url_for('static', filename='AI.js') }}"></script>
    </head>
    <body>
        <div class="AI_nav"><!-- 导航栏 -->
            <!-- 需要全局导航,navList. 此处为循环,需要开启flask服务器才可以看到效果 -->
            <nav>
                {% for i in navList %}
                    <a href="{{ navList[i] }}">{{ i }}</a>
                {% endfor %}
            </nav>
        </div>
        <div id="AI_body">
            <!-- 根据功能需要进行编写 -->
            <div id="AI_content">
                <div id="AI_info">
                    <div id="AI_icon">
                        {% if doctor %}
                            <img class="avatar" src="{{ url_for('static',filename=doctor) }}">
                            <!-- 参数使用时可以直接使用 -->
                        {% else %}
                            <img class="avatar" src="{{ url_for('static',filename=('1.png')) }}">
                        {% endif %}
                    </div>
                    <div id="AI_response">
                        <textarea id="text_response" class="AI_text"  readonly>{{ result }}</textarea>
                    </div>
                </div>
            </div>
            <div id="AI_input">
                <form method="POST" action="/AI">
                    <textarea id="text_input" class="AI_text" name="AI_question" placeholder="请描述您的病症"></textarea>
                    <input type="submit" name="submit">
                </form>
            </div>
        </div>
    </body>
</html>