<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>医疗系统</title>
</head>
<link rel="stylesheet" type="text/css" href="../static/css/css_all_bg.css">
<link rel="stylesheet" type="text/css" href="../static/css/css_doctor_info_modification.css">
<script src="../static/js/jquery-3.6.0.min.js"></script>
<script src="../static/js/js_doctor_log.js"></script>
<script src="../static/js/js_doctor_info_modification.js"></script>





<body>
  <svg id="allogo" height="60" width="50">
    <symbol id="id">
      <text dy="1em">AI</text>
    </symbol>
    <use class="text" xlink:href="#id"></use>
    <use class="text" xlink:href="#id"></use>
    <use class="text" xlink:href="#id"></use>
    <use class="text" xlink:href="#id"></use>
    <use class="text" xlink:href="#id"></use>
  </svg>

 <div id="title">医药问答系统</div>
  <div class="container">
    <div class="screen">


     <div id="subtitle">
      <span id="subtitlespan">坐诊统计</span>
     </div>


     <!-- 导航栏 -->
     <div class="main" id="commentguide">
      <div class="nav">
         <div class="a">
          <a onclick="herfChange1()">
          <span class="span" id="bg1">线上坐诊</span>
          </a>
         </div>
      </div>
      <div class="nav">
         <div class="a">
          <a href="">
          <span class="span" id="bg2">坐诊统计</span>
          </a>
         </div>
      </div>

      <div class="nav">
         <div class="a">
          <a onclick="herfChange3()">
          <span class="span" id="bg3">信息修改</span>
          </a>
         </div>
      </div>
   </div>




		<form action="#" class="form" id="form22">
         <h2 class="form__title" id="doctortitle">坐诊统计数据</h2>
      </form>
   </div>
  </div>



</body>
</html>