<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"> 
<title>医疗系统</title> 
</head>
<link rel="stylesheet" type="text/css" href="../static/css/css_all_bg.css">
<link rel="stylesheet" type="text/css" href="../static/css/css_user_graph.css">
<script type="text/javascript" src="../static/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="../static/js/startScore.js"></script>
<script type="text/javascript" src="../static/js/js_user_graph.js"></script>
<body>
    <svg id="allogo" height="60" width="50">
    <symbol id="id">
      <text dy="1em">AI</text>
    </symbol>
    <use class="text" xlink:href="#id"></use>
    <use class="text" xlink:href="#id"></use>
    <use class="text" xlink:href="#id"></use>
    <use class="text" xlink:href="#id"></use>
    <use class="text" xlink:href="#id"></use>
    </svg>
    <div id="title">医药问答系统</div>
    <div id="user_graph_content_div">
        <div id="user_graph_div">
            <!-- 导航栏 -->
            <div id="user_graph_commentguide">
                {% for i in navList %}
                <div class="user_graph_nav">
                    <div class="user_graph_a">
                        <a href="{{ i['url'] }}">
                        <span class="user_graph_span">{{ i['name'] }}</span>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="container">
            <div class="screen">
            <div id="subtitle">
                <span id="subtitlespan">我的收藏</span>
            </div>
            
            <div id="search">
                <form method="POST" action="/user_graph">
                    <textarea type="text" id="consult_question_text" placeholder="请输入病症" name="question_text"></textarea>
                    <input onclick="" type="submit" value="搜索"> 
                </form>
            </div>
    
            <div id="user_graph_content">
                <div id="user_graph_category"></div>
                <div id="user_graph_echarts">{{ grap | safe}}</div>
            </div>
      
         </div>
    </div>
  </div>


                              
</body>
</html>