<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"> 
<title>医疗系统</title> 
</head>
<link rel="stylesheet" type="text/css" href="../static/css/css_user_doctorqa.css">
<link rel="stylesheet" type="text/css" href="../static/css/css_all_bg.css">
<!-- use cdn for socket.io -->
<script crossorigin="anonymous" integrity="sha512-aC5ZfKOuGRUiJCv+E/EIWsj49E02BQpuLQbixZe+16Lm1R6AepHZA1xvY92XBQNNbwQoqG4DXCGxwoxBFb5Q1A==" src="//lib.baomitu.com/socket.io/3.1.3/socket.io.min.js"></script>
<!--<link rel="stylesheet" type="text/css" href="../static/css/css_user_history.css">-->
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery-1.8.0.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/startScore.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/js_user_doctorqa.js') }}"></script>
<body onload="ws()">
  <svg id="allogo" height="60" width="50">
    <symbol id="id">
      <text dy="1em">AI</text>
    </symbol>
    <use class="text" xlink:href="#id"></use>
    <use class="text" xlink:href="#id"></use>
    <use class="text" xlink:href="#id"></use>
    <use class="text" xlink:href="#id"></use>
    <use class="text" xlink:href="#id"></use>
  </svg>

 <div id="title">医药问答系统</div>
    <div class="container">
        <div class="screen">
        <div id="subtitle">
            <span id="subtitlespan">线上问诊</span>
        </div>
     <!-- 导航栏 -->
     <div class="main" id="commentguide">
        <div class="nav">
            <div class="a">
                <a onclick="herfChange0()">
                    <span class="span" id="bg1">医药问答</span>
                </a>
            </div>
        </div>
        <div class="nav">
            <div class="a">
                <a href="">
                    <span class="span" id="bg2">线上问诊</span>
                </a>
            </div>
        </div>
        <div class="nav">
            <div class="a">
                <a onclick="herfChange2()">
                    <span class="span" id="bg3">信息修改</span>
                </a>
            </div>
        </div>
        <div class="nav">
            <div class="a">
                <a onclick="herfChange3()">
                    <span class="span" id="bg4">我的收藏</span>
                </a>
            </div>
        </div>
        <div class="nav">
            <div class="a">
                <a onclick="herfChange4()">
                    <span class="span" id="bg5">意见反馈</span>
                </a>
            </div>
        </div>
    </div>
<!-- 对话界面—————————————————————————————————————————————————————————————————————————————————————————————————— -->
        <!-- entry -->
    <div class="chat_commento">
        <!-- middle -->
            <div class="chat_middle" id="chat_middle_item">
                 <!-- 左边 -->
                <div class="chat_left clearfix">
                    <div class="chat_left_item_1 ">AI</div>
                    <div class="chat_left_item_2">
                        <div class="chat_left_content">
                            正在为您推荐空闲的医生. . .
                        </div>
                        <p></p>
                    </div>
                </div>
                <div class="chat_left clearfix">
                    <div class="chat_left_item_1 ">AI</div>
                    <div class="chat_left_item_2">
                        <div class="chat_left_content">
                            当前在线的医生:<br>
                            <table>
                                <tr>
                                    <td>姓名</td>
                                    <td>职位</td>
                                    <td>工作年限</td>
                                    <td>在线时长</td>
                                    <td>咨询次数</td>
                                </tr>
                                {% for i in responseText %}
                                <tr>
                                    <td><a name="{{ i[0] }}" onclick="selectDoc(this)" id="{{ i[5] }}">{{ i[0] }}</a></td>
                                    <td>{{ i[1] }}</td>
                                    <td>{{ i[2] }}</td>
                                    <td>{{ i[3] }}</td>
                                    <td>{{ i[4] }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>

            <!-- line -->
            <div class="line"></div>
            <!-- foot -->
                <div class="chat_foot">
                    <!-- context -->
                    <textarea class="chat_context" id="chat_context_item" placeholder="请输入"></textarea>
                    <button class="chat_commit" id="button" onclick="buttonLis()">发送</button>
                </div>
            </div>
            <p id="p1p1">1111</p>
        </div>
    </div> 

</body>
</html>